<mat-list>
    <mat-list-item>
        <h2>Tùy chọn quản trị viên</h2>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button routerLink="/admin/admins">Quản lý quản trị viên</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button routerLink="/admin/categories">Quản lý các loại sản phẩm</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button routerLink="/admin/products">Quản lý sản phẩm</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button routerLink="/admin/orders">Quản lý đơn hàng</button>
    </mat-list-item>
</mat-list>