<div class="content">
    <h2>Thanh toán</h2>
    <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
        <mat-step [stepControl]="billingInfoForm">
            <ng-template matStepLabel>Thông tin người mua</ng-template>
            <form [formGroup]="billingInfoForm" fxLayout="column" fxLayoutAlign="space-between stretch">
                <mat-form-field>
                    <input type="text" matInput class="input-field" placeholder="Họ và tên"
                        formControlName="nameFormControl">
                </mat-form-field>
                <mat-form-field>
                    <input type="email" matInput class="input-field" placeholder="Email"
                        formControlName="emailFormControl">
                </mat-form-field>
                <mat-form-field>
                    <input type="tel" matInput class="input-field" placeholder="Số điện thoại"
                        formControlName="phoneFormControl">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput class="input-field" placeholder="Địa chỉ"
                        formControlName="addressFormControl">
                </mat-form-field>
            </form>
            <div>
                <button mat-stroked-button color="warn" routerLink="/cart" style="margin-right: 4px;">Về giỏ
                    hàng</button>
                <button mat-stroked-button color="primary" matStepperNext (click)="onSubmitBillingForm()">Phương thức
                    thanh toán</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Phương thức thanh toán</ng-template>
            <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 24px; margin-bottom: 24px;">
                <mat-button-toggle-group vertical fxFlex="25%">
                    <mat-button-toggle [checked]="paymentMethod == 0" (click)="onSetPaymentMethod(0)">
                        <fa-icon [icon]="faMoneyBill"></fa-icon>{{ paymentMethodStrings[0] }}
                    </mat-button-toggle>
                    <mat-button-toggle [checked]="paymentMethod == 1" (click)="onSetPaymentMethod(1)">
                        <fa-icon [icon]="faCreditCard"></fa-icon>{{paymentMethodStrings[1] }}
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <div fxFlex="75%" style="padding-left: 32px; padding-right: 32px;">
                    <div *ngIf="paymentMethod == 0">
                        Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục
                        vụ cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ
                        những năm 1500, khi một họa sĩ vô danh ghép nhiều đoạn văn bản với nhau để tạo thành một bản mẫu
                        văn bản. Đoạn văn bản này không những đã tồn tại năm thế kỉ, mà khi được áp dụng vào tin học văn
                        phòng, nội dung của nó vẫn không hề bị thay đổi. Nó đã được phổ biến trong những năm 1960 nhờ
                        việc bán những bản giấy Letraset in những đoạn Lorem Ipsum, và gần đây hơn, được sử dụng trong
                        các ứng dụng dàn trang, như Aldus PageMaker.

                    </div>
                    <div *ngIf="paymentMethod == 1">
                        Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản
                        trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản
                        chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình
                        thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum
                        làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra
                        nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất
                        hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).
                    </div>
                </div>
            </div>
            <div>
                <button mat-stroked-button color="warn" matStepperPrevious style="margin-right: 4px;">Thông tin người
                    mua</button>
                <button mat-stroked-button color="primary" matStepperNext>Tổng kết</button>
            </div>
        </mat-step>
        <mat-step>
            <div fxLayout="row">
                <div *ngIf="user" fxFlex="30%">
                    <ng-template matStepLabel>Tổng kết</ng-template>
                    <h3>Thông tin người mua</h3>
                    <p>{{ updatedUser.getName() }}</p>
                    <p>{{ updatedUser.getAddress() }}</p>
                    <p>{{ updatedUser.getEmail() }}</p>
                    <p>{{ updatedUser.getPhone() }}</p>
                    <h3>Phương thức thanh toán</h3>
                    <p>{{ paymentMethodStrings[paymentMethod] }}</p>
                </div>
                <div fxFlex="70%">
                    <h3>Các sản phẩm đã mua</h3>
                    <table mat-table [dataSource]="items">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
                            <td mat-cell *matCellDef="let item">{{ item.getName() }}</td>
                        </ng-container>
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Đơn giá </th>
                            <td mat-cell *matCellDef="let item">{{ item.getPrice() }}₫</td>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                            <td mat-cell *matCellDef="let item">{{ item.getQuantity() }}</td>
                        </ng-container>
                        <ng-container matColumnDef="sum">
                            <th mat-header-cell *matHeaderCellDef>Tổng số</th>
                            <td mat-cell *matCellDef="let item">{{ item.getPrice() * item.getQuantity() }}₫</td>
                            <td mat-footer-cell *matFooterCellDef>Thành tiền: {{ totalCost }}₫</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="['sum']"></tr>
                    </table>
                </div>
            </div>
            <div>
                <button mat-stroked-button color="warn" matStepperPrevious style="margin-right: 4px;">Phương thức thanh toán</button>
                <button mat-stroked-button color="primary" (click)="onPurchaseCompleted()">Mua hàng</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>