<h1 mat-dialog-title>
    Điền thông tin để hoàn tất đơn hàng
</h1>
<mat-dialog-content fxLayout="column" class="form">
    <mat-form-field>
        <input matInput placeholder="Tên" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Số điện thoại" [(ngModel)]="phone">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Địa chỉ" [(ngModel)]="address">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Tỉnh thành" [(ngModel)]="cityRegion">
            <mat-option *ngFor="let region of allCityRegion" [value]="region">
                {{ region }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="onPurchasing()">Mua hàng</button>
</mat-dialog-actions>