<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <app-admin-sidebar></app-admin-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <h2>Danh sách đơn hàng</h2>

        <table #table mat-table [dataSource]="orders" style="margin-bottom: 1.5rem;">
            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef> Tên khách hàng </th>
                <td mat-cell *matCellDef="let order"> {{ order.getOrderedUser().getName() }} </td>
            </ng-container>
            <ng-container matColumnDef="customerEmail">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let order"> {{ order.getOrderedUser().getEmail() }} </td>
            </ng-container>
            <ng-container matColumnDef="customerPhone">
                <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
                <td mat-cell *matCellDef="let order"> {{ order.getOrderedUser().getPhone() }} </td>
            </ng-container>
            <ng-container matColumnDef="customerAddress">
                <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                <td mat-cell *matCellDef="let order"> {{ order.getOrderedUser().getAddress() }} </td>
            </ng-container>
            <ng-container matColumnDef="paymentMethod">
                <th mat-header-cell *matHeaderCellDef> Phương thức thanh toán </th>
                <td mat-cell *matCellDef="let order"> {{ getPaymentMethodString(order.getPaymentMethod()) }} </td>
            </ng-container>
            <ng-container matColumnDef="products">
                <th mat-header-cell *matHeaderCellDef> Mặt hàng đã đặt </th>
                <td mat-cell *matCellDef="let order">
                    <mat-list dense>
                        <mat-list-item *ngFor="let product of order.getProducts()">
                            <a routerLink="/product/{{ product.getId() }}">
                                {{ product.getName() }}
                            </a> ({{ product.getQuantity() }})
                        </mat-list-item>
                    </mat-list>
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                <td mat-cell *matCellDef="let order">
                    {{ getOrderStatusString(order) }}
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Tùy chọn </th>
                <td mat-cell *matCellDef="let order">
                    <button *ngIf="isIncompletedOrder(order) && !order.getRestocking()" mat-stroked-button color="primary"
                        style="margin-right: 4px; margin-bottom: 4px;"
                        (click)="onNextStatus(order)">{{ getNextOrderStatusString(order.getStatus()) }}</button>
                    <button *ngIf="isIncompletedOrder(order)" mat-stroked-button color="warn"
                        (click)="onCancelOrder(order)">Hủy đơn hàng</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
    </mat-sidenav-content>
</mat-sidenav-container>