<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-list>
            <mat-list-item>
                <h2>Tùy chọn quản trị viên</h2>
            </mat-list-item>
            <mat-list-item>
                <button mat-raised-button routerLink="/admin/admins">Quản lý quản trị viên</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-raised-button routerLink="/admin/products">Quản lý sản phẩm</button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <h2>Danh sách quản trị viên</h2>
        <table #table mat-table [dataSource]="admins" style="margin-bottom: 1.5rem;">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let admin"> {{admin.getUsername()}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
                <td mat-cell *matCellDef="let admin"> {{admin.getPhone()}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let admin"> {{admin.getEmail()}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Tùy chọn </th>
                <td mat-cell *matCellDef="let admin">
                    <button mat-stroked-button color="primary" style="margin-right: 4px;">Chỉnh sửa</button>
                    <button mat-stroked-button color="warn" (click)="onRemoveAdmin(admin)">Xóa</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>

        <button mat-stroked-button color="primary" (click)="onCreateAdmin()">Thêm quản trị viên</button>
    </mat-sidenav-content>
</mat-sidenav-container>