<footer>
    <div color="primary" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="25%">
            <mat-list dense>
                <mat-list-item>
                    <h2>Hỗ trợ khách hàng</h2>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>Hướng Dẫn Mua Hàng</a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>Thanh Toán</a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>Vận chuyển</a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>Trả Hàng và Hoàn Tiền</a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>Chăm Sóc Khách Hàng</a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>Chính Sách Bảo Hành</a>
                </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex="25%">
            <mat-list dense>
                <mat-list-item>
                    <h2>Dành cho quản trị viên</h2>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>Đăng nhập</a>
                </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex="25%">
            <mat-list dense>
                <mat-list-item>
                    <h2>Theo dõi chúng tôi trên</h2>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>
                        <fa-icon [icon]="facebook" size="2x"></fa-icon> Facebook
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>
                        <fa-icon [icon]="instagram" size="2x"></fa-icon> Instagram
                    </a>
                </mat-list-item>
                <mat-list-item>
                        <a mat-button><fa-icon [icon]="github" size="2x"></fa-icon> GitHub</a>
                </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex="25%">
            <mat-list dense>
                <mat-list-item>
                    <h2>Nội dung do nhóm 2 thực hiện</h2>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button>Mọi quyền đều được bảo lưu</a>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</footer>