<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="content" style="padding: 24px;">
        <div *ngIf="selectedProduct" fxLayout="row" style="margin-bottom: 24px">
            <div fxFlex="20%">
                <img src="{{ selectedProduct.getImage() }}" class="responsive-img" />
            </div>
            <div fxFlex="80%" style="padding-left: 24px">
                <h2>{{ selectedProduct.getName() }}</h2>
                <p>{{ selectedProduct.getDescription() }}</p>
                <p>{{ selectedProduct.getPrice() }} VND</p>
                <a mat-raised-button style="margin-right: 4px;"
                    routerLink="/product/{{ selectedProduct.getProductId() }}">Xem thêm</a>
                <a mat-raised-button (click)='openDialog()'>Mua ngay</a>
            </div>
        </div>
        <div>
            <mat-paginator #paginator [length]="products.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onPageChanged($event)">
            </mat-paginator>
            <div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="center stretch">
                <mat-card *ngFor="let product of shownProducts" fxFlex="30%" class="product-card">
                    <mat-card-header>
                        <img mat-card-avatar class="product-card-image" [src]="product.getImage()" />
                        <mat-card-title (click)="setSelectedProduct(product)">{{ product.getName() }}
                        </mat-card-title>
                        <mat-card-subtitle>{{ product.getDescription() }}</mat-card-subtitle>
                        <mat-card-subtitle>{{ product.getPrice() }} VND</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>