<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <h2>Các loại sản phẩm</h2>

    </mat-sidenav>
    <mat-sidenav-content style="padding: 24px;">
        <div *ngIf="selectedProduct" fxLayout="row" style="margin-bottom: 24px">
            <div fxFlex="50%">
                <img src="{{ selectedProduct.image }}" class="responsive-img" />
            </div>
            <div fxFlex="50%" style="padding-left: 24px">
                <h2>{{ selectedProduct.name }}</h2>
                <p>{{ selectedProduct.descriptionDetail }}</p>
                <a mat-flat-button style="margin-right: 4px;">Xem thêm</a>
                <a mat-flat-button>Mua ngay</a>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="center stretch">
            <div fxFlex="30%" *ngFor="let product of products" class="product-card">
                <mat-card>
                    <mat-card-title (click)="setSelectedProduct(product)">{{ product.name }}</mat-card-title>
                    <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>