<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-list>
            <mat-list-item><h2>Các loại sản phẩm</h2></mat-list-item>
            <mat-list-item>
                <button mat-raised-button (click)="loadAllProduct()">Tất cả sản phẩm</button>
            </mat-list-item>
            <mat-list-item *ngFor="let category of categories">
                <button mat-raised-button (click)="setSelectedCategory(category)">{{ category.name }}</button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding: 24px;">
        <div *ngIf="selectedProduct" fxLayout="row" style="margin-bottom: 24px">
            <div fxFlex="30%">
                <img src="{{ selectedProduct.getImage() }}" class="responsive-img" />
            </div>
            <div fxFlex="70%" style="padding-left: 24px">
                <h2>{{ selectedProduct.getName() }}</h2>
                <p>{{ selectedProduct.getDescriptionDetail() }}</p>
                <p>{{ selectedProduct.getPrice() }} VND</p>
                <a mat-raised-button style="margin-right: 4px;" routerLink="/product/{{ selectedProduct.getProductId() }}">Xem thêm</a>
                <a mat-raised-button>Mua ngay</a>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="center stretch">
            <div fxFlex="30%" *ngFor="let product of products" class="product-card">
                <mat-card>
                    <mat-card-title (click)="setSelectedProduct(product)">{{ product.name }}</mat-card-title>
                    <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>