/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

a {
    text-decoration: none;
}

table {
    width: 100%;
}

td {
    padding: 8px !important;
}

.table-image {
    width: 100%;
    max-width: 320px;
    height: auto;
}

.cart-list-quantity-content {
    margin-left: 8px;
    margin-right: 8px;
}

.content {
    padding: 24px; 
    padding-top: 0;
    min-height: 320px;
}